@import url("reset.css");
.none {
  display: none !important;
  -webkit-transition: 2s;
  transition: 2s;
}

header {
  padding-bottom: 8vh;
  width: 15.6vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2E2824;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

@media (max-width: 768px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 10vh;
  }
}

header img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header img {
    width: 70%;
  }
}

@media (max-width: 414px) {
  header img {
    width: 90%;
  }
}

header menu {
  color: #fff;
  cursor: pointer;
}

header menu p {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  header menu p {
    font-size: 1.3rem;
    margin: auto;
    margin-top: 10vh;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: sideways;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

header menu .indexMenuline1 {
  margin-top: 1.5vh;
  display: block;
  background-color: #fff;
  width: 4vw;
  height: 1.8px;
}

@media (max-width: 768px) {
  header menu .indexMenuline1 {
    -webkit-transform: rotate(90deg) translateY(-2vw);
            transform: rotate(90deg) translateY(-2vw);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    width: 6vw;
    margin: auto;
    margin-top: 1.5vh;
  }
}

header menu .indexMenuline2 {
  display: block;
  background-color: #fff;
  width: 2vw;
  height: 1.5px;
  margin-top: .8vh;
}

@media (max-width: 768px) {
  header menu .indexMenuline2 {
    -webkit-transform: rotate(90deg) translateY(-2.5vw);
            transform: rotate(90deg) translateY(-2.5vw);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    width: 3vw;
    margin: auto;
    margin-top: 0;
  }
}

header ul {
  font-weight: bold;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: sideways;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  header ul {
    font-size: 1rem;
    display: none;
  }
}

header ul li:first-child {
  padding-bottom: 15px;
}

header a {
  text-decoration: none;
  color: #fff;
  line-height: 25px;
}

header b {
  width: 25px;
  height: 1px;
  background-color: #ba967d;
  margin-bottom: 15px;
}

.menu_bar {
  width: 84.4%;
  height: 100vh;
  position: fixed;
  z-index: 98;
  background-color: #2E2824;
  margin-left: 15.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 41vh;
}

.menu_bar .menu_personal_exhibits {
  font-size: 30px;
  text-decoration: none;
  font-family: Segoe UI;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  right: 4.06vw;
  top: 6.389vh;
}

.menu_bar .menu_child a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 22.7167vw;
  font-family: Baskerville Old Face;
  font-size: 70px;
  color: #646464;
  border-top: 1px solid #F1F1F1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4.63vh;
}

.menu_bar .menu_child a:hover {
  border-top: 3px solid #FBFBF6;
  color: #fff;
}

.menu_bar .menu_child a:hover img {
  display: block;
}

.menu_bar .menu_child a img {
  display: none;
  position: absolute;
  z-index: -1;
  width: 19.635vw;
  height: 32.34vw;
  margin-left: 1.541vw;
  opacity: 70%;
}

.menu_bar .notthings a {
  width: 16.25vw;
}

.menu_bar .notthings a:hover {
  border-top: 1px solid #F1F1F1;
}

.menu_bar .menu_about {
  margin-left: 1.69vw;
}

.menu_bar .menu_about a img {
  top: 32vh;
}

.menu_bar .menu_exhibits a img {
  top: 6.5vh;
}

.menu_bar .menu_postcard a img {
  top: 30vh;
}

.menu_bar .join {
  height: 40px;
  position: absolute;
  right: 5.73vw;
  top: 87.41vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_bar .join .line {
  width: 14.219vw;
  height: 5px;
  background-color: #707070;
  margin-top: 17.5px;
  margin-right: 16px;
}

.menu_bar .join a {
  line-height: 40px;
  text-decoration: none;
  font-family: Segoe UI;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}

footer {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 250px;
  background-color: #2E2824;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  padding-left: 15.6vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul a {
  text-decoration: none;
  color: #fff;
}

footer .footerLogo {
  font-weight: bold;
}

footer .footerLogo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

footer ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ol img {
  height: 35px;
}

footer ol a {
  text-decoration: none;
  color: #fff;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 27px;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50px;
  right: 1.822vw;
}

.features a {
  text-decoration: none;
  color: black;
}

.features .fa-search {
  font-size: 26px;
  margin: 0;
}

.features .personal {
  width: 64px;
  height: 23px;
  margin-left: 20px;
  border-bottom: 2px solid #e5e5e5;
}

.features .login {
  width: 56px;
  height: 23px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #e5e5e5;
}

.features .fa-user-friends {
  font-size: 15px;
  margin: 0;
  margin-left: 4px;
}

.features .fa-bell {
  font-size: 20px;
  margin-left: 15px;
}

.musicControlBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 1.56vw;
  right: 3vw;
  z-index: 90;
}

.musicControlBtn .musicControlBtnSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
}

.musicControlBtn .musicControlBtnSpan .line1 {
  display: block;
  height: 35px;
  width: 4px;
  background-color: black;
  margin-right: 20px;
}

.musicControlBtn .musicControlBtnSpan .line2 {
  display: block;
  height: 55px;
  width: 4px;
  background-color: black;
  margin-right: 20px;
}

.musicControlBtn .musicControlBtnSpan .line3 {
  display: block;
  height: 25px;
  width: 4px;
  background-color: black;
}

.musicControlBtn p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  footer {
    height: 60px;
  }
  footer .footerLogo {
    display: none;
  }
  footer .footerLogo p {
    font-size: 19px;
  }
  footer ol {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer ol li:nth-child(1) {
    display: none;
  }
  footer ol img {
    height: 26.5px;
  }
  .menu_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20vh;
  }
  .menu_bar .menu_personal_exhibits {
    border-bottom: 2px solid #FBFBF6;
    line-height: 1.6;
    right: auto;
    left: 3vw;
  }
  .menu_bar .menu_child a {
    border-top: 0px;
    padding-top: 4.63vh;
    padding-left: 10vw;
  }
  .menu_bar .menu_child a:hover {
    border-top: 0px;
    color: #F1F1F1;
  }
  .menu_bar .menu_child a:hover img {
    display: none;
  }
  .menu_bar .notthings {
    display: none;
  }
  .menu_bar .join {
    right: 5.73vw;
    top: 87.41vh;
  }
  .menu_bar .join .line {
    width: 35.55vw;
    background-color: #FBFBF6;
  }
}

@media screen and (max-width: 414px) {
  .menu_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20vh;
  }
  .menu_bar .menu_personal_exhibits {
    font-size: 16px;
  }
  .menu_bar .menu_child a {
    font-size: 48px;
  }
  .menu_bar .join a {
    font-size: 24px;
  }
  .features {
    width: 40vw;
    right: 0;
    top: 4%;
  }
  .features .personal {
    display: none;
  }
  .features .login_manger {
    display: none;
  }
  .features .login {
    border-bottom: 0 solid #e5e5e5;
    font-size: 50px;
  }
  footer {
    height: 60px;
  }
  footer .footerLogo {
    display: none;
  }
  footer .footerLogo p {
    font-size: 19px;
  }
  footer ol {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer ol li:nth-child(1) {
    display: none;
  }
  footer ol img {
    height: 26.5px;
  }
}
/*# sourceMappingURL=header_footer.css.map */